$header1: 1.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 1.8rem;
$main-pink: #f2a341;
$main-green: #9b3164;
$dark-blue: #242424;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "hero";
@import "global";
@import "modulos";
@import "price";
@import "form";
@import "success";
@import "us";
@import "burger-menu";

/* MEDIA QUERIES */

$breakpoint1: 1400px;
@media (max-width: $breakpoint1) {
  #curso {
    text-align: center;
  }
  #hero {
    text-align: center;
  }
  #modulos {
    .shape1 {
      top: -5px;
    }
  }
  .box-container {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
}
$breakpoint4: 1150px;
@media (max-width: $breakpoint4) {
  .buy-container,
  .image-container {
    text-align: center;
    width: 90%;
  }
  #hero {
    .image-container {
      align-items: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
$breakpoint2: 890px;
@media (max-width: $breakpoint2) {
  #logo {
    flex: 1;
    margin: 4rem 0rem;
    justify-content: flex-start;
  }
  .nav-links {
    margin-bottom: 2rem;
    justify-content: space-around;
    a {
      font-size: 1.2rem;
    }
  }
  .comprar-button-navlink {
    padding: 1rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  #curso {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    button {
      margin-bottom: 5rem;
    }
    .hero-text {
      width: 100%;
    }
    .image-container {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .button-container {
    width: 100%;
  }

  #hero {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    button {
      margin-bottom: 5rem;
    }
    .hero-text {
      width: 100%;
    }
    .image-container {
      img {
        height: 20rem;
      }
    }
  }
  .button-container {
    width: 100%;
  }

  #price {
    flex-direction: column;
    text-align: center;
    .image-container {
      order: 2;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text-container {
      align-items: center;
      text-align: center;
    }
    h3 {
      margin: 1rem 0rem;
    }
  }
  #success {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .image-container {
      order: 2;
      display: none;
    }
    .text-container {
      order: 1;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      margin: 3rem;
    }
  }
  #us {
    width: 100%;
    display: block;
    .us-container {
      width: 100%;
      flex-direction: column;
      display: block;
    }
    .image-container {
      align-items: center;
      order: 2;
      display: flex;
      margin: auto;
    }
    p {
      margin-bottom: 2rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  #comprar {
    display: block;
    width: 100%;
    .image-container {
      align-items: center;
      justify-content: center;
      display: flex;
      margin: auto;
    }
    .buy-container {
      width: 100%;
      flex-direction: column;
      display: block;
    }
    p {
      margin-bottom: 2rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  #newsletter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .contact {
      align-items: center;
      margin-right: 0px;
    }
  }
  .bubble-img {
    height: 60px;
    width: 60px;
  }
  #curso-submitting {
    width: 90%;
    margin: auto;
  }
  // BURGER MENU MEDIA QUERIES

  .burger {
    display: block;
  }
  .nav-links {
    transform: translateX(100%);
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    background-color: $main-green;
    transition: transform 0.3s ease-in;
    li {
      margin: 3rem;
      transform: translateX(10rem);
      opacity: 0;
    }
    a {
      font-weight: 600;
      font-size: 2rem;
      color: rgb(255, 255, 255);
      background-color: transparent;
    }
  }
}
// MOBILE TESTING

$breakpoint3: 450px;
@media (max-width: $breakpoint3) {
  h2 {
    font-size: 2.5rem;
  }
  #hero {
    button {
      margin: 1rem 1rem;
    }
  }
  #newsletter {
    button {
      margin-bottom: 50px;
    }
    h3 {
      margin: 4rem 0rem;
    }
  }
}
@keyframes linksFade {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
